/* --------------------------------------------------------------------------------------------- */
/*	1. Document Setup
/* --------------------------------------------------------------------------------------------- */

html {
	font-size: 62.5%; /* 1rem = 10px */
}

body {
	background: #fff;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #1A1B1F;
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1.7rem;
	text-align: left;
}

*,
*:before,
*:after {
		-webkit-box-sizing: inherit;
		-moz-box-sizing: inherit;
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
	word-break: break-word;
}

::selection {
	background: black;
	color: #fff;
}

#site-content {
	overflow: hidden;
}


/* Clearing ---------------------------------- */

.group:after,
.entry-content:after,
[class*="__inner-container"]:after {
	clear: both;
	content: "";
	display: block;
}


/* Base Transitions -------------------------- */

a,
path {
	transition: all .15s linear;
}


/* Screen Reader Text ------------------------ */

.screen-reader-text {
	clip: rect( .1rem, .1rem, .1rem, .1rem );
	height: .1rem;
	overflow: hidden;
	position: absolute !important;
		left: -999999rem;
	width: .1rem;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: .3rem;
	box-shadow: 0 0 .2rem .2rem rgba( 0, 0, 0, 0.6 );
	clip: auto !important;
	display: block;
	font-size: 1.4rem;
	font-weight: 700;
	height: auto;
	left: .5rem;
	line-height: normal;
	padding: 1.5rem 2.3rem 1.4rem 2.3rem;
	text-decoration: none;
	top: .5rem;
	width: auto;
	z-index: 100000;
}


/* Skip Link --------------------------------- */

.skip-link {
	position: absolute;
		left: -9999rem;
		top: 2.5rem;
	z-index: 999999999;
}

.skip-link:focus {
	left: 2.5rem;
	text-decoration: none;
}


/* Accessibility Settings -------------------- */

@media ( prefers-reduced-motion: reduce ) {
	* {
		animation-duration: 0s !important;
		transition-duration: 0s !important;
	}
}